CompileFlags:
  CompilationDatabase: build

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - cppcoreguidelines-pro-type-member-init
    Remove:
      - bugprone-easily-swappable-parameters
      - bugprone-narrowing-conversions

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  BlockEnd: Yes
